/* Inicio de controles */

.container {
  grid-area: btn;
  display: flex;
  justify-content: space-around;
  gap: min(10px, 2dvw);
}

.container .container__btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: clamp(22px, 7dvw, 30px);
  padding: 3px clamp(9px, 3dvw, 13px);
  border: 1px solid var(--third-color);
  border-radius: 10px;
  display: grid;
  place-content: center;
}

/* Fin de controles */
