/* Inicio de interfaz de juego */

body {
  background-image: radial-gradient(#012b54, #000);
}

.game {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
}

.game .game__container {
  --separate-items: 15px;
  margin: 0px 20px;
  display: grid;
  grid-template-areas: "points grid next" "btn btn btn";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr auto;
  gap: var(--separate-items);
}

/* Fin de interfaz de juego */

.game__container .child__container {
  background-color: var(--third-color);
  height: fit-content;
  width: clamp(45px, 14dvw, 80px);
  border: 1px solid var(--third-color);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  gap: 1px;
}

.child__container .container__score,
.child__container .container__next {
  background-color: var(--secondary-color);
  color: #eee;
  padding: 3px 0px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.child__container .value {
  padding: 6px 0px;
}

.container__score .score__title,
.container__next .next__title {
  font-size: clamp(9px, 3dvw, 11px);
}

.container__next.value {
  justify-content: center;
  gap: 1px;
}

.container__next.value .figure__cell {
  width: 10px;
  aspect-ratio: 1/1;
  border: 2px solid var(--third-color);
}
