/* Inicio de controles */

.container {
  grid-area: btn;
  display: flex;
  justify-content: space-evenly;
}

.container .container__btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: clamp(25px, 6.2dvw, 36px);
  padding: 1dvh clamp(9px, 3.4dvw, 16px);
  border: 1px solid var(--third-color);
  border-radius: 10px;
  display: grid;
  place-content: center;
}

/* Fin de controles */
