.container {
  --separate-padding: 2px;
  --separate-gap: 1px;
  --block-size: clamp(13px, min(4dvw, 4dvh), 30px);
  grid-area: grid;
  background-color: color-mix(in srgb, var(--primary-color) 30%, transparent 100%);
  padding: var(--separate-padding);
  display: grid;
  gap: var(--separate-gap);
  position: relative;
}

body:has([id="controls"]) .container {
  --block-size: clamp(13px, min(3.6dvw, 3.6dvh), 30px);
}

.container::before,
.container::after {
  content: "";
  position: absolute;
  z-index: -10;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 100%;
  background-image: linear-gradient(transparent 18%, #3ecdf885, transparent 82%);
  box-shadow: 0px 0px 30px 0px var(--primary-color);
}

.container::before {
  left: calc(var(--gap-col) * -1.7);
}

.container::after {
  right: calc(var(--gap-col) * -1.7);
}

.container .container__row {
  display: grid;
  gap: var(--separate-gap);
}

.container__row .row__col,
.container .figure__created {
  background-color: var(--secondary-color);
  width: var(--block-size);
  aspect-ratio: 1/1;
  transform: translate(
    calc(var(--block-size) * var(--coor-x) + calc(var(--coor-x) * var(--separate-gap))),
    calc(var(--block-size) * var(--coor-y) + calc(var(--coor-y) * var(--separate-gap)))
  );
  position: relative;
}

.container .figure__created {
  background-color: red;
  position: absolute;
  margin: var(--separate-padding);
  transition: transform 0.2s;
}

.row__col .cell__ocupied {
  position: absolute;
  inset: 0px;
  background-color: var(--primary-color);
}

.row__col .cell__ocupied::before,
.container .figure__created::before {
  content: "";
  position: absolute;
  inset: 2px;
  background-color: var(--secondary-color);
}

.container__row .row__col.figure--reflex {
  animation: sliding_reflection 0.7s linear infinite;
}

@keyframes sliding_reflection {
  50% {
    background-color: #ddd;
  }
}
