* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  --primary-color: #31eef5;
  --secondary-color: #000f1f;
  --third-color: #0287b0;
  background-color: var(--secondary-color);
  height: 100dvh;
}

button {
  cursor: pointer;
}

button * {
  user-select: none;
}

svg path {
  stroke-width: 0.8;
}

.root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
